body { padding-top:30px; }


.homepage--teaser {
    background: url(/img/kaalia.jpg) !important;
    background-size: cover !important;
}

.homepage--teaser .container {
    min-height: 400px!important;
}
.homepage--teaser .container .content {
    min-height: 300px!important;
}